<!DOCTYPE html>
<html lang="<%= config.language %>">
    <%- partial('_partial/head') %>
    <body
        data-color-scheme="<%= theme.color_scheme %>"
        data-config-root="<%- config.root %>"
    >
        <%- body %>
    </body>
</html>
