<%- partial('_partial/head') %>
<body>
  <div class="container">
    <div class="row">
        <nav class="col-sm-3 blog-sidebar">
          <%- partial('_partial/sidebar', null, {cache: !config.relative_link}) %>
        </nav>
        <section class="col-sm-8 blog-main">
          <%- body %>
        </section>
    </div>
  </div>
  <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
  <%- partial('_partial/inline-scripts') %>
</body>
</html>
